name: inventory-kit-db
services:
  postgres:
    image: postgres:17
    restart: always
    env_file:
      - .env.docker
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
